:root{
    --PrimaryColor: #AA367C;
    --HoverColor: #a52eb0;
    --palePink: #f8cef4;
    --whiteColor: #ffffff;
    --blackCOlor: #2e2e2e;
    --textColor: #ffffff;
    --bgColor: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    --greyText: #bebebe;
    --inputColor: #f8f6f7;
    --BLueside: #8965bc;
  
    /*Font and Typography*/
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 2rem;
    --normalFontSize: .938rem;
    --SmallFOntSIze: .813rem;
    --smallestFontSize: .75rem;
}

/* Profile.css */
  
  .profileContainer {
    display: flex;
    gap: 20px;
  }
  
  .profileImageContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profileImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .uploadPlaceholder {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .center {
    width: 60%;
    border: 1px solid var(--BLueside);
    color: yellow;
    border-radius: 5px;
    min-height: 50vh;
    padding: 1rem;
    margin-top: 20px;
  }
  
  .Mainhead1 {
    padding: 10px 160px;
    color: yellow;
  }
  
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
    color: var(--palePink);
  }
  
  label {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    outline: none;
  }
  
  input:focus {
    border: 1px solid var(--HoverColor);
  }
  